/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Jan-2015, 1:47:43 PM
    Author     : Marc
*/

#welcome-flair
{
    color: white;
    background-color:#4986E7;
    height: 10em;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    
}

#welcome-flair #lhs
{
    text-align: right;
    width: 50%;
    height: 100%;
    float:left;
    font-size: 80pt;
}
#welcome-flair #rhs
{
    width: 50%;
    height: 100%;
    text-alight:left;
    float:left;
    font-size: 80pt;
}

#myCarousel
{
    margin-top: 10px;
    width: 60%;
    float: left;
    height: 35em;
    margin-bottom: 5em;
}

.carousel img {
  margin: auto;
  max-height: 35em;
  min-height: 35em;
  
}

footer
{
    clear: both;
    width: 100%;
    text-align: center;
}

#blog-preview
{
    margin-top: 1em;
    float: right;
    width: 35%;
}

article time
{
    font-style: italic;
}

#mode-toggle
{
    float: right;
    width: 98%;
    text-align: right;
    margin-bottom: 1em;
    margin-left: 90%;
}

.list-view
{
    border: #eee solid 1px;
    margin: 5%;
}

.list-view .caption
{
    height: 100%;
    float:left;
}

.list-view img
{
    float:left;
    margin: 0;
    height:15em;
    margin-right: 5%;
    margin: 1em;
    width: 15em;
}

.list-view{
    clear:both;
}

.list-view a
{
    position: relative;
    bottom: 0;
}
