/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Jan-2015, 1:47:43 PM
    Author     : Marc
*/

#welcome-flair
{
    color: white;
    background-color:#4986E7;
    height: 8em;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    
}

#welcome-flair #lhs
{
    text-align: right;
    vertical-align: middle;
    width: 48%;
    height: 100%;
    float:left;
    font-size: 60pt;
}
#welcome-flair #rhs
{
    width: 50%;
    height: 100%;
    text-alight:left;
    float:right;
    font-size: 60pt;
}

#myCarousel
{
    margin-top: 10px;
    width: 60%;
    float: left;
    height: 35em;
    margin-bottom: 5em;
}

.carousel img {
  margin: auto;
  max-height: 35em;
  min-height: 35em;
  
}

footer
{
    clear: both;
    width: 100%;
    text-align: center;
}

#blog-preview
{
    margin-top: 1em;
    float: right;
    width: 35%;
}

.post-details
{
    display: inline-block;
    margin-left: 1em;
}

img.fullsize
{
    width: 100%;
}

article time
{
    font-style: italic;
}

.project-toolbar
{
    float: right;
    text-align: right;
    margin-bottom: 1em;
    margin-left: 90%;
}

.mode-select
{
    height: 34px;
}

.list-view
{
    border: #eee solid 1px;
    margin: 5%;
}

.list-view .caption
{
    height: 100%;
    float:left;
}

.list-view img
{
    float:left;
    margin: 0;
    margin-right: 5%;
    margin: 1em;
    width: 10em;
}

.list-view{
    clear:both;
}

.list-view a
{
    position: relative;
    bottom: 0;
}

#project-sidebar
{
    float: right;
    width: 30%;
}

#project-main
{
    float: left;
    width: 66%;
}

#image-gallery
{
    width: 100%;
}

#image-gallery img
{
    max-width: 150px;
    max-height: 100px;
    padding: 2px;
    margin: 2px;
    border: 1px solid #ddd;
}

#my-picture
{
    max-height: 10em;
    max-width: 10em;
    float:left;
    margin: 1em;
}

#header
{
    max-height: 20em;
    vertical-align: bottom;
}

#header h1
{
    margin-top: 2em;
}

img.recent-blog-thumb
{
    width: 7em;
}

.control-group
{
    margin-bottom: 10px;
}

#psdropzone
{
    min-height: 10em;
}